html {
  font-family: 'Roboto', sans-serif;
  font-weight: 300; }

body {
  background: #b4b7b8; }

article {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 300px;
  background: #b4b7b8; }
  @media (max-width: 1000px) {
    article {
      margin-left: 0; } }
  article .posts {
    margin: 25px 25px 82px 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap; }
    article .posts .column-1,
    article .posts .column-2,
    article .posts .column-3,
    article .posts .column-4,
    article .posts .column-5 {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: column;
      margin-left: 25px;
      flex: 1 0 294px;
      justify-content: flex-start; }
      @media (max-width: 600px) {
        article .posts .column-1,
        article .posts .column-2,
        article .posts .column-3,
        article .posts .column-4,
        article .posts .column-5 {
          flex: 1 0 100%; } }
      @media (max-width: 800px) {
        article .posts .column-1,
        article .posts .column-2,
        article .posts .column-3,
        article .posts .column-4,
        article .posts .column-5 {
          flex: 1 0 50%; } }
      article .posts .column-1 .post .header,
      article .posts .column-2 .post .header,
      article .posts .column-3 .post .header,
      article .posts .column-4 .post .header,
      article .posts .column-5 .post .header {
        background: #d7d7d7;
        height: 230px;
        position: relative; }
        article .posts .column-1 .post .header video,
        article .posts .column-2 .post .header video,
        article .posts .column-3 .post .header video,
        article .posts .column-4 .post .header video,
        article .posts .column-5 .post .header video {
          width: 100%;
          height: 100%; }
        article .posts .column-1 .post .header i,
        article .posts .column-2 .post .header i,
        article .posts .column-3 .post .header i,
        article .posts .column-4 .post .header i,
        article .posts .column-5 .post .header i {
          font-size: 1.5rem;
          padding: 14px;
          color: #ffffff;
          background: #27b2b0;
          opacity: 0.7; }
          article .posts .column-1 .post .header i:hover,
          article .posts .column-2 .post .header i:hover,
          article .posts .column-3 .post .header i:hover,
          article .posts .column-4 .post .header i:hover,
          article .posts .column-5 .post .header i:hover {
            opacity: 1; }
        article .posts .column-1 .post .header .icon-left-open-big,
        article .posts .column-2 .post .header .icon-left-open-big,
        article .posts .column-3 .post .header .icon-left-open-big,
        article .posts .column-4 .post .header .icon-left-open-big,
        article .posts .column-5 .post .header .icon-left-open-big {
          position: absolute;
          top: 92px;
          left: 0; }
        article .posts .column-1 .post .header .icon-right-open-big,
        article .posts .column-2 .post .header .icon-right-open-big,
        article .posts .column-3 .post .header .icon-right-open-big,
        article .posts .column-4 .post .header .icon-right-open-big,
        article .posts .column-5 .post .header .icon-right-open-big {
          position: absolute;
          top: 92px;
          right: 0; }
        article .posts .column-1 .post .header .size,
        article .posts .column-2 .post .header .size,
        article .posts .column-3 .post .header .size,
        article .posts .column-4 .post .header .size,
        article .posts .column-5 .post .header .size {
          text-align: center;
          color: #acacac;
          font-size: 3rem;
          font-weight: bold; }
      article .posts .column-1 .post .information,
      article .posts .column-2 .post .information,
      article .posts .column-3 .post .information,
      article .posts .column-4 .post .information,
      article .posts .column-5 .post .information {
        background: #ffffff;
        padding: 20px; }
      article .posts .column-1 .post,
      article .posts .column-1 .image-post,
      article .posts .column-1 .link-post,
      article .posts .column-1 .quote-post,
      article .posts .column-2 .post,
      article .posts .column-2 .image-post,
      article .posts .column-2 .link-post,
      article .posts .column-2 .quote-post,
      article .posts .column-3 .post,
      article .posts .column-3 .image-post,
      article .posts .column-3 .link-post,
      article .posts .column-3 .quote-post,
      article .posts .column-4 .post,
      article .posts .column-4 .image-post,
      article .posts .column-4 .link-post,
      article .posts .column-4 .quote-post,
      article .posts .column-5 .post,
      article .posts .column-5 .image-post,
      article .posts .column-5 .link-post,
      article .posts .column-5 .quote-post {
        margin-bottom: 25px; }
      article .posts .column-1 .image-post,
      article .posts .column-2 .image-post,
      article .posts .column-3 .image-post,
      article .posts .column-4 .image-post,
      article .posts .column-5 .image-post {
        height: 262px;
        background: #d7d7d7; }
        article .posts .column-1 .image-post .size,
        article .posts .column-2 .image-post .size,
        article .posts .column-3 .image-post .size,
        article .posts .column-4 .image-post .size,
        article .posts .column-5 .image-post .size {
          text-align: center;
          color: #acacac;
          font-size: 3rem;
          font-weight: bold; }
      article .posts .column-1 .link-post,
      article .posts .column-2 .link-post,
      article .posts .column-3 .link-post,
      article .posts .column-4 .link-post,
      article .posts .column-5 .link-post {
        height: 137px;
        background: #27b2b0;
        color: #ffffff;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center; }
        article .posts .column-1 .link-post .container,
        article .posts .column-2 .link-post .container,
        article .posts .column-3 .link-post .container,
        article .posts .column-4 .link-post .container,
        article .posts .column-5 .link-post .container {
          /*margin: 40px 20px 40px 20px;*/
          margin-left: 20px;
          margin-right: 20px; }
          article .posts .column-1 .link-post .container p,
          article .posts .column-2 .link-post .container p,
          article .posts .column-3 .link-post .container p,
          article .posts .column-4 .link-post .container p,
          article .posts .column-5 .link-post .container p {
            font-size: 1.8rem;
            font-weight: 300;
            margin: 0;
            /*margin-bottom: 10px;*/ }
          article .posts .column-1 .link-post .container a,
          article .posts .column-2 .link-post .container a,
          article .posts .column-3 .link-post .container a,
          article .posts .column-4 .link-post .container a,
          article .posts .column-5 .link-post .container a {
            text-decoration: none;
            color: #ffffff;
            font-size: 1.4rem;
            font-weight: 700;
            font-style: italic; }
            article .posts .column-1 .link-post .container a:hover,
            article .posts .column-2 .link-post .container a:hover,
            article .posts .column-3 .link-post .container a:hover,
            article .posts .column-4 .link-post .container a:hover,
            article .posts .column-5 .link-post .container a:hover {
              text-decoration: underline; }
      article .posts .column-1 .quote-post,
      article .posts .column-2 .quote-post,
      article .posts .column-3 .quote-post,
      article .posts .column-4 .quote-post,
      article .posts .column-5 .quote-post {
        height: 212px;
        background: #242b2e; }
  article footer .older-posts-btn a {
    text-transform: uppercase;
    text-decoration: none;
    background: #27b2b0;
    display: inline-block;
    font-size: 2rem;
    font-weight: 100;
    padding: 25px 27px;
    color: #ffffff;
    text-align: center;
    bottom: 0; }
    article footer .older-posts-btn a:hover {
      background: #ffffff;
      color: #27b2b0; }

/*# sourceMappingURL=blog.css.map */
