html {
  height: 100%;
  font-size: 62.5%; }
  html body {
    height: 100%; }
    html body article {
      height: 100%;
      margin-left: 300px; }
      @media (max-width: 1000px) {
        html body article {
          margin-left: 0; } }
      html body article h2, html body article p {
        margin: 0;
        font-weight: 100; }
      html body article h2 {
        font-size: 2.4rem;
        margin: 26px 0; }
        @media (max-width: 600px) {
          html body article h2:first-of-type {
            display: none; } }
      html body article p {
        font-size: 1.8rem;
        color: #a3a3a3; }
        @media (max-width: 600px) {
          html body article p {
            display: none; } }
      html body article .map-container {
        width: 100%;
        height: 100%; }
        html body article .map-container .contact-btn {
          position: fixed;
          z-index: 99;
          top: 25px;
          left: 325px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 3.5rem;
          cursor: pointer; }
          @media (max-width: 1000px) {
            html body article .map-container .contact-btn {
              left: 25px; } }
        html body article .map-container .contact {
          padding: 0 30px 26px 30px;
          position: fixed;
          z-index: 99;
          top: 25px;
          left: 325px;
          background: #ffffff;
          width: 35%; }
          @media (max-width: 1000px) {
            html body article .map-container .contact {
              left: 25px; } }
          html body article .map-container .contact .close-btn {
            position: absolute;
            font-size: 1.5rem;
            left: 8px;
            top: 11px;
            cursor: pointer; }
          html body article .map-container .contact form {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            font-size: 1.4rem; }
            html body article .map-container .contact form input {
              flex: 0 1 40px; }
            html body article .map-container .contact form .left-column {
              display: flex;
              flex-direction: column;
              flex: 1 0 auto; }
              html body article .map-container .contact form .left-column input {
                height: 30%; }
            html body article .map-container .contact form .right-column {
              display: flex;
              flex-direction: column;
              flex: 1 0 auto; }
              html body article .map-container .contact form .right-column input[type="text"] {
                flex: 2 0 auto; }
              html body article .map-container .contact form .right-column input[type="submit"] {
                flex: 1 0 auto;
                background: #27b2b0;
                border: none; }
        html body article .map-container #googleMap {
          z-index: 98;
          height: 100%;
          width: 100%; }

/*# sourceMappingURL=contact.css.map */
