$backgroundGrey: #b4b7b8;
$turqoiseColor: #27b2b0;
$paragraphColor: #717171;
$turqoiseRGBa: rgba(39, 178, 176, 0.9);
$commentSpanColor: #d1d1d1;
$commentParagraphColor: #a3a3a3;

html {
    height: 100%;
    font-size: 62.5%;
    body {
        height: 100%;
        
        article {
            height: 100%;
            margin-left: 300px;
            @media(max-width:1000px) {
                margin-left: 0;
            }
            
            h2, p {
                margin: 0;
                font-weight: 100;
            }
            
            h2 {
                font-size: 2.4rem;
                margin: 26px 0;
                
                &:first-of-type {
                    @media(max-width: 600px) {
                        display: none;
                    }
                }
            }
            
            p {
                font-size: 1.8rem;
            	color: $commentParagraphColor;
                @media(max-width: 600px) {
                    display: none;
                }
            }
            
            .map-container {
                width: 100%;
                height: 100%;
                
                .contact-btn {
                    position: fixed;
                    z-index: 99;
                    top: 25px;
                    left: 325px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 3.5rem;
                    cursor: pointer;
                    @media(max-width: 1000px) {
                        left: 25px;
                    }
                }
                
                .contact {
                    //display: none;
                    overflow: auto;
                    padding: 0 30px 26px 30px;
                    position: fixed;
                    z-index: 99;
                    top: 25px;
                    left: 325px;
                    background: #ffffff;
                    width: 35%;
                    @media(max-width: 1000px) {
                        left: 25px;
                    }
                    
                    .close-btn {
                        position: absolute;
                        font-size: 1.5rem;
                        left: 8px;
                        top: 11px;
                        cursor: pointer;
                    }
                    
                    form {
                        display: flex;
                        font-size: 1.4rem;
                        flex-wrap: wrap;
                        flex-direction: row;
                        justify-content: space-between;
                        
                        input {
                            border-radius: 0;
                        }
                        
                        .left-column {
                            display: flex;
                            flex-direction: column;
                            border-right: none;
                            padding: 0;
                            
                            .textbox {
                                display: flex;
                                align-items: center;
                                margin-bottom: 10px;
                                margin-right: 5px;
                                border: 1px solid $commentSpanColor;
                                height: 40px;
                                
                                .icon {
                                    padding: 0 10px 0 6px;
                                    color: $turqoiseColor;
                                    i {
                                        border: 1px solid $turqoiseColor;
                                        padding: 7px 5px;
                                        border-radius: 100%;
                                    }
                                }
                                
                                input {
                                    border: 0;
                                    margin-top: 10px;
                                    border-left: 1px solid $commentSpanColor;
                                    height: 95%;
                                    &:first-of-type {
                                        margin-top: 0;
                                    }
                                }
                            }
                        }
                        .right-column {
                            margin: 0;
                            padding: 0;
                            display: flex;
                            flex-direction: column;
                            margin-left: 5px;
                            
                            input[name="message"] {
                                padding: 0;
                                border: 1px solid $commentSpanColor;
                                height: 92px;
                            }
                            
                            input[name="submit-post-btn"] {
                                height: 42px;
                                margin-top: 10px;
                                background: $turqoiseColor;
                                border: 1px solid $turqoiseColor;
                                color: #ffffff;
                                &:hover {
                                    background: #ffffff;
                                    color: $turqoiseColor;
                                }
                            }
                        }
                    }
                }
                
                #googleMap {
                    
                    z-index: 98;
                    height: 100%;
                    width: 100%;
                }
            }
        }
    }
}