html {
  font-family: 'Roboto', sans-serif;
  font-weight: 300; }

body {
  background: #b4b7b8; }

article {
  margin-left: 300px; }
  @media (max-width: 1000px) {
    article {
      margin-left: 0; } }
  article .container {
    display: flex;
    flex-wrap: wrap;
    margin: 25px;
    background: #ffffff;
    font-weight: 100; }
    article .container h2, article .container p {
      margin: 0;
      font-weight: 100; }
    article .container h2 {
      font-size: 2.4rem;
      margin: 26px 0; }
      @media (max-width: 400px) {
        article .container h2 {
          font-size: 2rem; } }
    article .container p {
      font-size: 1.8rem;
      color: #a3a3a3; }
      @media (max-width: 400px) {
        article .container p {
          font-size: 1.6rem; } }
    article .container .left-column {
      display: flex;
      flex-direction: column;
      flex: 1 0 40%;
      padding: 30px;
      border-right: 1px solid #717171; }
      @media (max-width: 400px) {
        article .container .left-column {
          padding: 20px; } }
      article .container .left-column .post {
        padding-bottom: 30px;
        border-bottom: 1px solid #c1c1c1; }
        article .container .left-column .post .header-img {
          position: relative; }
          article .container .left-column .post .header-img img {
            width: 100%;
            height: 320px; }
            @media (max-width: 600px) {
              article .container .left-column .post .header-img img {
                height: 200px; } }
            @media (max-width: 400px) {
              article .container .left-column .post .header-img img {
                height: 170px; } }
          article .container .left-column .post .header-img ul {
            margin: 0;
            position: absolute;
            right: 20px;
            bottom: 20px; }
            article .container .left-column .post .header-img ul li {
              list-style-type: none;
              display: inline-block;
              width: 18px;
              height: 10px;
              background: #b4b7b8;
              border: 1px solid #000000;
              cursor: pointer; }
              article .container .left-column .post .header-img ul li.active {
                background: #27b2b0; }
      article .container .left-column #comments {
        border-bottom: 1px solid #c1c1c1; }
        article .container .left-column #comments .comments-list {
          padding-left: 0px;
          margin: 0; }
          article .container .left-column #comments .comments-list li {
            display: block; }
            article .container .left-column #comments .comments-list li .comment {
              display: flex;
              margin-bottom: 30px;
              flex-wrap: nowrap;
              justify-content: flex-start; }
              article .container .left-column #comments .comments-list li .comment .photo {
                width: 80px;
                height: 80px;
                background: url("../img/staff.png") no-repeat;
                background-position: center;
                background-size: 50px; }
              article .container .left-column #comments .comments-list li .comment .data {
                margin-left: 21px; }
                article .container .left-column #comments .comments-list li .comment .data .name-and-date {
                  font-size: 1.4rem;
                  font-weight: 100;
                  padding-bottom: 9px;
                  border-bottom: 1px solid #c1c1c1;
                  margin: 0;
                  display: inline-block; }
                  article .container .left-column #comments .comments-list li .comment .data .name-and-date span {
                    color: #c1c1c1; }
                article .container .left-column #comments .comments-list li .comment .data p {
                  margin-top: 11px;
                  color: #a3a3a3; }
            article .container .left-column #comments .comments-list li .answer-comment {
              padding-left: 60px; }
              article .container .left-column #comments .comments-list li .answer-comment li .comment {
                align-items: center; }
                article .container .left-column #comments .comments-list li .answer-comment li .comment .photo {
                  width: 40px;
                  height: 40px;
                  background-size: 30px; }
                article .container .left-column #comments .comments-list li .answer-comment li .comment .name-and-date {
                  font-size: 1.2rem; }
                article .container .left-column #comments .comments-list li .answer-comment li .comment p {
                  font-size: 1.4rem; }
      article .container .left-column .leave-comment form {
        display: flex;
        font-size: 1.4rem;
        flex-wrap: wrap;
        flex-direction: row; }
        article .container .left-column .leave-comment form input {
          border-radius: 0; }
        article .container .left-column .leave-comment form .left-column {
          display: flex;
          flex-direction: column;
          border-right: none;
          padding: 0; }
          article .container .left-column .leave-comment form .left-column .textbox {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            margin-right: 5px;
            border: 1px solid #c1c1c1;
            height: 40px; }
            article .container .left-column .leave-comment form .left-column .textbox .icon {
              padding: 0 10px 0 6px;
              color: #27b2b0; }
              article .container .left-column .leave-comment form .left-column .textbox .icon i {
                border: 1px solid #27b2b0;
                padding: 7px 5px;
                border-radius: 100%; }
            article .container .left-column .leave-comment form .left-column .textbox input {
              border: 0;
              margin-top: 10px;
              border-left: 1px solid #c1c1c1;
              height: 95%; }
              article .container .left-column .leave-comment form .left-column .textbox input:first-of-type {
                margin-top: 0; }
        article .container .left-column .leave-comment form .right-column {
          margin: 0;
          padding: 0;
          display: flex;
          flex-direction: column;
          margin-left: 5px; }
          article .container .left-column .leave-comment form .right-column input[name="message"] {
            padding: 0;
            border: 1px solid #c1c1c1;
            height: 92px; }
          article .container .left-column .leave-comment form .right-column input[name="submit-post-btn"] {
            height: 42px;
            margin-top: 10px;
            background: #27b2b0;
            border: 1px solid #27b2b0;
            color: #ffffff; }
            article .container .left-column .leave-comment form .right-column input[name="submit-post-btn"]:hover {
              background: #ffffff;
              color: #27b2b0; }
    article .container .right-column {
      flex: 1 0 40%;
      margin: 0;
      padding: 30px; }
      @media (max-width: 400px) {
        article .container .right-column {
          padding: 20px; } }
      article .container .right-column ul {
        padding: 0; }
        article .container .right-column ul li {
          list-style-type: none;
          font-size: 1.4rem; }
      article .container .right-column .info {
        margin: 0; }
        article .container .right-column .info li {
          display: flex;
          border-bottom: 1px solid #717171;
          align-items: center; }
          article .container .right-column .info li p {
            padding: 24px 0;
            margin-left: 12px; }
          article .container .right-column .info li i {
            color: #27b2b0;
            border: 1px solid #27b2b0;
            border-radius: 100%;
            padding: 7px 5px;
            font-size: 1.6rem; }
      article .container .right-column .tags .categories {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start; }
        article .container .right-column .tags .categories li {
          border: 1px solid #717171;
          padding: 14px;
          border-radius: 10px;
          margin-right: 10px;
          margin-top: 10px;
          cursor: pointer; }
          article .container .right-column .tags .categories li:last-child {
            margin-right: 0; }
          article .container .right-column .tags .categories li:hover {
            color: firebrick;
            border-color: firebrick; }
      article .container .right-column .archives ul li {
        margin-bottom: 16px;
        cursor: pointer; }
        article .container .right-column .archives ul li:hover {
          color: firebrick;
          font-weight: 300; }

/*# sourceMappingURL=single-post.css.map */
