$backgroundGrey: #b4b7b8;
$turqoiseColor: #27b2b0;
$paragraphColor: #b1b1b1;
$turqoiseRGBa: rgba(39, 178, 176, 0.9);
$commentSpanColor: #d1d1d1;
$commentParagraphColor: #a3a3a3;

html {
    font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

body {
    background: $backgroundGrey;
}

article {
    margin-left: 300px;
    @media(max-width:1000px) {
        margin-left: 0;
    }
    
    .container {
        display: flex;
        flex-wrap: wrap;
        margin: 25px;
        background: #ffffff;
        font-weight: 100;
        
        h2, p {
            margin: 0;
            font-weight: 100;
        }
                
        h2 {
            font-size: 2.4rem;
            margin: 26px 0;
            @media(max-width: 400px) {
                font-size: 2rem;
            }
        }
                
        p {
            font-size: 1.8rem;
            color: $commentParagraphColor;
            @media(max-width: 400px) {
                font-size: 1.6rem;
            }
        }
        
        .left-column {
            display: flex;
            flex-direction: column;
            flex: 1 0 40%;
            padding: 30px;
            border-right: 1px solid $paragraphColor;
            
            .post {
                padding-bottom: 30px;
                border-bottom: 1px solid $commentSpanColor;
                .header-img {
                    position: relative;
                    img {
                        width: 100%;
                        height: 320px;
                        @media(max-width: 600px) {
                            height: 200px;
                        }
                        @media(max-width: 400px) {
                            height: 120px;
                        } 
                    }
                    ul {
                        margin: 0;
                        position: absolute;
                        right: 20px;
                        bottom: 20px;
                        
                        li {
                            list-style-type: none;
                            display: inline-block;
                            width: 18px;
                            height: 10px;
                            background: $backgroundGrey;
                            border: 1px solid #000000;
                            cursor: pointer;
                            &.active {
                                background: $turqoiseColor;
                            }
                        }
                    }
                }
            }
            #comments {
                .comments-list {
                    padding-left: 0px;
                    
                    li {
                        display: block;
                        
                        .comment {
                            display: flex;
                            margin-bottom: 30px;
                            flex-wrap: nowrap;
                            justify-content: flex-start;
                            
                            .photo {
                                width: 80px;
                                height: 80px;
                                background: url("../img/staff.png") no-repeat;
                                background-position: center;
                                background-size: 50px;
                            }
                            .data {
                                margin-left: 21px;
                                .name-and-date {
                                    font-size: 1.4rem;
                                    font-weight: 100;
                                    padding-bottom: 9px;
                                    border-bottom: 1px solid $commentSpanColor;
                                    margin: 0;
                                    display: inline-block;
                                    span {
                                        color: $commentSpanColor;
                                    }
                                }
                                p {
                                    margin-top: 11px;
                                    color: $commentParagraphColor;
                                }
                            }
                        }
                        .answer-comment {
                            li {
                                .comment {
                                    align-items: center;
                                    .photo {
                                        width: 40px;
                                        height: 40px;
                                        background-size: 30px;
                                    }
                                    .name-and-date {
                                        font-size: 1.2rem;
                                    }
                                    p {
                                        font-size: 1.4rem;
                                    }	
                                }
                            }
                        }
                    }
                }
            }
                                                                             
            .leave-comment {
                
                form {
                    display: flex;
                    font-size: 1.4rem;
                    flex-wrap: wrap;
                    flex-direction: row;
                    
                    .left-column {
                        display: flex;
                        justify-content: flex-start;
                        flex: 1 0 48%;
                        border-right: none;
                        padding: 0;
                        
                        .textbox {
                            display: flex;
                            align-items: center;
                            flex: 1 0 100%;
                            margin-bottom: 10px;
                            margin-right: 10px;
                            border: 1px solid $paragraphColor;
                            
                            .icon {
                                padding: 0 10px 0 6px;
                                i {
                                    border: 1px solid $commentParagraphColor;
                                    padding: 7px 5px;
                                    border-radius: 100%;
                                }
                            }
                            
                            input {
                                width: 100%;
                                height: 57px;
                                border: none;
                                border-left: 1px solid $paragraphColor;
                            }
                        }
                    }
                    .right-column {
                        flex: 1 0 48%;
                        margin: 0;
                        
                        input {
                            width: 100%;
                            height: 128px;
                            border: 1px solid $paragraphColor;
                        }
                        
                        input[name="submit-post-btn"] {
                            height: 61px;
                            width: 100%;
                            margin-top: 10px;
                            background: $turqoiseColor;
                            border: none;
                            color: #ffffff;
                            border: none;
                            &:hover {
                                background: #ffffff;
                                color: $turqoiseColor;
                                border: 1px solid $turqoiseColor;
                            }
                        }
                    }
                }
            }
        }
        
        .right-column {
            flex: 1 0 40%;
            margin: 30px;
            
            ul {
                padding: 0;
            
                li {
                    list-style-type: none;
                    font-size: 1.4rem;
                }
            }
            .info {
                margin: 0;
                li {
                    display: flex;
                    border-bottom: 1px solid $paragraphColor;
                    align-items: center;
                    
                    p {
                        padding: 24px 0;
                        margin-left: 12px;
                    }
                    
                    i {
                        color: $turqoiseColor;
                        border: 1px solid $turqoiseColor;
                        border-radius: 100%;
                        padding: 7px 5px;
                        font-size: 1.6rem;
                    }
                }
            }
            
            .tags {
                .categories {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: flex-start;
                    li {
                        border: 1px solid $paragraphColor;
                        padding: 14px;
                        border-radius: 10px;
                        margin-right: 10px;
                        margin-top: 10px;
                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }
            }
            .archives {
                li {
                    margin-bottom: 16px;
                }
            }
        }
    }
}